.container {
  padding: 3.2rem 2.8rem;
  width: 54rem;

  @include mobile {
    padding: 2.8rem 2rem;
    width: 100%;
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3.2rem;

  @include mobile {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }
}

.subTitle {
  @include text-style-18-middle();
  margin-bottom: 1rem;

  @include mobile {
    font-size: 1.6rem;
  }
}

.inputTitle {
  width: 100%;
  height: 4.8rem;
  border: 0.1rem solid $gray-300;
  border-radius: 0.6rem;
  padding: 1.5rem 1.6rem;
  @include text-style-14-middle();

  @include mobile {
    height: 4.2rem;
    padding: 1.3rem 1.6rem;
  }

  &:focus {
    outline: none;
  }
}

.colors {
  width: 20rem;
}

.btnArea {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1.2rem;

  button {
    width: 12rem;
    height: 4.8rem;
    border-radius: 0.8rem;
    @include text-style-16-middle();

    @include mobile {
      height: 4.2rem;
    }
  }

  .cancel {
    color: $gray-500;
    border: 0.1rem solid $gray-300;
    background-color: $white;
  }

  .create {
    background-color: $violet-200;
    color: $white;
  }
}
