.tableForm {
  @include column-flexbox(start, stratch);
  @include mobile {
    width: 100%;
  }
  max-width: 62rem;
  border-radius: 0.8rem;
  background-color: $white;
  gap: 1rem;
  padding: 2.8rem;

  .dashboardTitle {
    @include flexbox(between, center);
    @include text-style-20-bold;

    .pageNumber {
      @include flexbox;
      @include text-style-14-light;
      gap: 1.6rem;
    }
  }
  .label {
    @include text-style-14-light;
    color: $gray-400;
  }

  .memberListWrapper {
    @include flexbox(between, center);
    gap: 1rem;
    padding: 1rem;

    div {
      margin-left: 0;
    }

    .memberNickname {
      @include text-style-16-middle;
      margin-right: auto;
    }
  }

  .crownIcon {
    margin-left: auto;
    margin-right: 3.4rem;
  }

  .buttons {
    margin-left: auto;
    button {
      width: 8.4rem;
      height: 3.2rem;
    }
  }
}
