.tableForm {
  max-width: 62rem;
  height: 47.7rem;
  border-radius: 0.8rem;
  background-color: $white;
  gap: 3rem;
  padding: 2.8rem;
  @include column-flexbox(start, between);
  @include mobile {
    min-width: 284px;
  }
}

.dashboardTitle {
  @include flexbox(between);
  @include text-style-20-bold;
}

.pageNumber {
  gap: 1.6rem;
  @include flexbox;
  @include text-style-14-light;

  p {
    @include mobile {
      display: none;
    }
  }
}

.buttonGroup {
  gap: 1.6rem;
  @include flexbox;
  @media (max-width: 470px) {
    gap: 1rem;
    @include column-flexbox(start, end);
  }
}

.inviteButton {
  width: 10.5rem;
  height: 3.2rem;
  @include mobile {
    width: 7.2rem;
  }

  img {
    @include mobile {
      display: none;
    }
  }
}

.buttonText {
  gap: 0.5rem;
  @include flexbox;
}

.label {
  color: $gray-400;
  @include text-style-16-light;
}

.inviteListWrapper {
  gap: 1rem;
  padding: 1.7rem;
  overflow: hidden;
  @include flexbox(between, center);

  .invitedEmail {
    @include text-style-16-light;
  }

  Button {
    width: 8.4rem;
    height: 3.2rem;
  }
}

.cancelButton {
  top: 1.4rem;
  right: 1rem;
  width: 8.4rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid $gray-300;
  color: $violet-200;
  @include text-style-12-middle;
}
