@mixin background() {
  background-color: $gray-100;
  min-width: 100%;
  width: fit-content;
  min-height: 100vh;
  padding-top: 11rem;
  padding-left: 34rem;

  @include tablet {
    padding-left: 20rem;
  }

  @include mobile {
    padding-left: 9rem;
  }
}
