.datepickerWrap {
  @include flexbox(center, center);
}

.datepicker {
  @include text-style-16-light;
  width: 100%;
  height: 4.8rem;
  color: var(--black-black_333236, #333236);
  border: 1px solid $gray-300;
  gap: 1rem;
}

.placeholder {
  color: $gray-400;
}
