.form {
  display: flex;
  gap: 1.6rem;

  .addImage {
    width: 18.2rem;
    height: 18.2rem;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 6%;
  }
  .formContents {
    .inputs {
      width: 36.6rem;
    }
    .button {
      width: 8.4rem;
      height: 3.2rem;
      margin-top: 2.4rem;
      margin-left: 28.2rem;
    }
  }
}
