.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1.6rem 8rem 1.6rem 34rem;
  background-color: $white;
  color: $black-200;
  font-size: 1.6rem;
  border-bottom: 0.1rem solid $gray-300;
  z-index: 1;

  @include tablet {
    padding: 1.6rem 4rem 1.6rem 20rem;
  }

  @include mobile {
    padding: 1.3rem 1.2rem 1.3rem 9rem;
  }
}

.mydashboard {
  @include text-style-20-bold();
  @include mobile {
    font-size: 1.8rem;
  }
}

.dashboardTitle {
  @include text-style-20-bold();
  @include tablet {
    display: none;
  }
}

.wrapper {
  display: flex;
}

.manageWrapper {
  display: flex;
  align-items: center;
  border-right: 0.1rem solid $gray-300;

  button {
    display: flex;
    gap: 0.8rem;
    color: $gray-500;
    padding: 1.1rem 1.6rem;
    border-radius: 0.8rem;
    border: 0.1rem solid $gray-300;
    background: $white;
  }
}

.manageBtn {
  margin-right: 1.6rem;
}

.inviteBtn {
  margin-right: 4rem;
}

.memberWrapper {
  @include text-style-18-middle();
  display: flex;
  margin-right: 2rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.8rem;
    height: 3.8rem;
    color: $white;
    border: 0.2rem solid $white;
    border-radius: 99rem;
    margin-left: -1rem;
  }

  .totalCount {
    background-color: $pink-100;
    color: $pink;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  margin-left: 1rem;
}

.invitee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.8rem;
  color: $white;
  border: 0.2rem solid $white;
  border-radius: 99rem;
  margin-left: -1rem;
}

.user {
  color: $black-200;
  @include text-style-18-middle();

  @include mobile {
    display: none;
  }
}

.kebabModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 4.5rem;
  right: -1.5rem;
  width: 10rem;
  padding: 0.7rem;
  background-color: $white;
  border: 0.1rem solid $gray-200;
  border-radius: 0.8rem;
  box-shadow: $dropdown-shadow;
}

.kebabItem {
  @include text-style-16-light();
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  background-color: $gray-100;
  border-radius: 0.4rem;
  cursor: pointer;
}
