.gnb {
  position: sticky;
  top: 0;
  padding: 1.6rem;
  background-color: $white;
  color: $black-200;
  font-size: 1.6rem;
  z-index: 1;

  @include mobile {
    font-size: 1.4rem;
  }
}

.gnbContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.2rem 0 0.4rem;
}

.logoText {
  @include mobile {
    display: none;
  }
}

.authContainer {
  display: flex;
  gap: 3.6rem;
  margin-right: 6.4rem;

  @include tablet {
    margin-right: 2.4rem;
  }

  @include mobile {
    gap: 2rem;
    margin-right: 0;
  }
}
