.bg {
  @include background();
}

.columns {
  @include column-flexbox(start, stretch);

  @include desktop {
    flex-direction: row;
    align-items: stretch;
  }
}

.plusBtn {
  margin-top: 7rem;
  margin-left: 2rem;
}
