.main {
  font-family: nth($font-main, 1);
}

.header {
  @include column-flexbox;
  gap: 3rem;
  margin: 0 2.8rem;

  img {
    width: 100%;
    max-width: 722px;
    height: 52vw;
    max-height: 423px;
    box-shadow: $dropdown-shadow;
  }

  .title {
    @include mobile {
      font-size: 4.8rem;
    }
    @include tablet {
      font-size: 4.8rem;
    }
    font-size: 7.6rem;
    font-weight: 700;
    text-align: center;
  }

  .titlePurple {
    color: $violet-200;
  }

  button {
    width: 28rem;
    padding: 1.5rem 0;
    margin-bottom: 10rem;
  }
}

.section {
  @include column-flexbox;
  width: 100%;
  gap: 3.6rem;
  padding: 0 3rem;

  .mainCard1 {
    @include flexbox(between, start);
  }

  .mainCard2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 4rem 0;
  }

  .mainCard1,
  .mainCard2 {
    padding-top: 10rem;
    border-radius: 0.8rem;
    background-color: $violet-100;
    width: 100%;
    box-shadow: $dropdown-shadow;
    gap: 5rem;

    @media (max-width: 1100px) {
      @include column-flexbox;
      gap: 5rem;
    }
  }

  .mainCardText {
    @include column-flexbox(start, start);
    gap: 5rem;
    margin-left: 10rem;

    @media (max-width: 1100px) {
      margin: auto;
    }

    .point {
      color: $gray-500;
      font-size: 2.2rem;
    }

    .description {
      font-size: 4.8rem;
      font-weight: 700;

      @media (max-width: 1100px) {
        font-size: 3.6rem;
        text-align: center;
      }
    }
  }

  .mainImage1 {
    width: 80vw;
    height: 65vw;
    max-width: 594px;
    max-height: 497px;

    @media (max-width: 1100px) {
      float: right;
    }
  }

  .mainImage2 {
    width: 58vw;
    height: 64vw;
    max-width: 436px;
    max-height: 502px;

    @media (max-width: 1100px) {
      float: none;
      margin: auto;
    }
  }

  .config {
    @include column-flexbox;
    gap: 3.3rem;
    padding-bottom: 9rem;
  }

  .configTitle {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: left;

    @media (max-width: 1100px) {
      text-align: center;
    }
  }
}
