//login css
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $gray-100;
}
.header {
  display: flex;
  width: 20rem;
  height: 27.9rem;
  padding: 0 0 0.4rem 0.11rem;
  margin: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.wrapHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
  @media screen and (max-width: 375px) {
    margin: 0 3.2rem 0 3.7rem;
  }
}
.hello {
  @include text-style-18-light();
  width: 18.9rem;
  height: 2.4rem;
  padding: 1rem 0.5rem 0;
  color: $black-200;
  text-align: center;
  @media (min-width: 375px) and (max-width: 1200px) {
    padding: 0.8rem 0.5rem 0 0.6rem;
  }
}

.logo {
  width: 16.4rem;
  height: 18.9rem;
  float: right;
  @media screen and (max-width: 375px) {
    width: 9.8rem;
    height: 11.3rem;
  }
}
.taskify {
  width: 19.8rem;
  height: 5.5rem;
  @media screen and (max-width: 375px) {
    width: 11.9rem;
    height: 3.3rem;
  }
}
.label {
  @include text-style-16-light();
  color: $black-200;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 30rem;
  width: 52rem;
  gap: 1.6rem;

  .cb {
    @include text-style-16-light();
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .loginBtn {
    Button {
      width: 52rem;
      height: 5rem;
      padding: 1.4rem 23.6rem;
      @media screen and (max-width: 375px) {
        width: 35.1rem;
      }
    }
  }
}
.input {
  padding: 1.5rem 0 1.5rem 1.6rem;
  width: 52rem;
  height: 5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  border: 0.1rem solid $gray-300;
  background: $white;
  font-size: 1.6rem;
  outline: none;

  &:focus {
    border: 0.1rem solid $violet-200;
  }
  &.error {
    width: 52rem;
    height: 5rem;
    border: 0.1rem solid $red;
  }
  @media screen and (max-width: 375px) {
    width: 35.1rem;
    gap: 0.8rem;
  }
}

.wrapInput {
  gap: 0.8rem;
}
.loginText {
  @include text-style-16-light();
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 15.3rem;
  width: 100%;
  gap: 0.5rem;

  @media screen and (max-width: 375px) {
    @include text-style-16-light();
    width: 100%;
    height: 1.9rem;
    padding: 2.4rem 6.8rem 0rem;
  }
}

.wrapText {
  @include text-style-16-light();
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 15.3rem;
  width: 100%;
  gap: 0.5rem;

  @media screen and (max-width: 375px) {
    @include text-style-16-light();
    width: 100%;
    height: 1.9rem;
    padding: 2.4rem 6.8rem 0rem;
  }
}
.signupText {
  color: $violet-200;
  text-decoration: underline;
}
.errorMessage {
  @include text-style-14-light();
  color: $red;
}
.errorInput {
  outline: $red;
}
