.bg {
  @include background();
  @include desktop{width: 1920px};
  width: 100%;
  
}
.container {
  margin-bottom: 9.6rem
}

.pageBtnWrapper {
  @include text-style-14-light();
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
