.all {
  display: flex;
  .sideBar {
    width: 30rem;
    height: 108rem;
    flex-shrink: 0;
    border-right: 0.1rem solid $gray-300;
  }
  .PageContainer {
    background: $gray-100;
    nav {
      background-color: $white;
      width: 100%;
      padding: 2.3rem 151rem 2.3rem 4rem;
      border-bottom: 0.1rem solid $gray-300;
      span {
        @include text-style-20-bold();
        color: $black-200;
      }
    }
    main {
      padding: 0 100.8rem 1.2rem 2rem;

      .back {
        margin: 2rem 158rem 2.5rem 2rem;
        display: flex;
        gap: 0.6rem;

        span {
          @include text-style-16-middle();
          color: $black-200;
        }
      }
    }
    .section1 {
      background-color: $white;
      padding: 3.2rem 2.8rem 2.8rem 2.8rem;
      width: 62rem;
      border-radius: 0.8rem;

      .profile {
        @include text-style-24();
        color: $black-200;
        margin-bottom: 3.2rem;
      }
      .section1Contents {
        display: flex;
        gap: 1.6rem;
        Image {
          margin-left: 2.8rem;
          margin-bottom: 8rem;
        }
        form {
          display: flex;
          flex-direction: column;
          label {
            @include text-style-18-middle();
            color: $black-200;
          }
          input {
            outline: none;
            margin-top: 1rem;
            margin-bottom: 2rem;
            border-radius: 0.6rem;
            border: 0.1rem solid $gray-300;
            background: $white;
            width: 36.6rem;
            height: 4.8rem;
            flex-shrink: 0;
            padding: 1.5rem 20.4rem 1.4rem 1.6rem;
            &::placeholder {
              @include text-style-16-light();
              color: $gray-400;
            }
          }
          Button {
            @include text-style-14-middle();
            border-radius: 4px;
            width: 8.4rem;
            height: 3.2rem;
            margin-left: 28.2rem;
            text-align: center;
          }
        }
      }
    }
    .section2 {
      margin-top: 1.2rem;
      background-color: $white;
      padding: 3.2rem 2.8rem 2.8rem 2.8rem;
      width: 62rem;
      border-radius: 0.8rem;

      .changePassword {
        @include text-style-24();
        color: $black-200;
        margin-bottom: 3.2rem;
      }
      form {
        display: flex;
        flex-direction: column;

        label {
          @include text-style-18-middle();
          color: $black-200;
          margin-bottom: 1rem;
        }
        input {
          margin-bottom: 2rem;
          padding: 1.5rem 20.4rem 1.4rem 1.6rem;
          width: 56.4rem;
          height: 4.8rem;
          flex-shrink: 0;
          border-radius: 0.6rem;
          border: 1px solid $gray-300;
          background: $white;
          &::placeholder {
            @include text-style-16-light();
            color: $gray-400;
          }
        }
        Button {
          @include text-style-14-middle();
          width: 8.4rem;
          height: 32px;
          margin-left: 47.8rem;
          border-radius: 4px;
          padding: 0.8rem 3rem;
          text-align: center;
        }
      }
    }
  }
}
