.all {
  // @include background();
  padding: 7rem 0 0 30rem;
  background: #fafafa;
  margin: 0;
  display: flex;
  @include tablet {
    padding: 7rem 0 0 16rem;
  }
  @include mobile {
    //padding: 6rem 0 0 6rem;
    @include background();
  }

  .wrapper {
    margin: 2rem 98rem 12.5rem 2rem;
    @include mobile {
      background: #fafafa;
      margin: -3rem 1.2rem 1.2rem 2rem;
    }
    .back {
      margin-bottom: 2.5rem;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    .title {
      color: var(--black-black_333236, #333236);
      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 3.2rem;
      @include mobile {
        font-size: 20px;
        margin-bottom: 2.4rem;
      }
    }
    section {
      width: 62rem;
      border-radius: 8px;
      background: #fff;
      padding: 3.2rem 2.8rem 2.8rem 2.8rem;
      @include tablet {
        width: 54.4rem;
      }
      @include mobile {
        padding: 2.8rem 2rem 2rem 2rem;
        width: 28.4rem;
      }
    }
  }
}
