.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem;
  background-color: $gray-100;
}

.header {
  display: flex;
  margin: 3.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
}

.hello {
  @include text-style-18-light();
  width: 18.9rem;
  height: 2.4rem;
  padding: 1rem 0.5rem 0;
  color: $black-200;
  text-align: center;
}

.logo {
  width: 16.4rem;
  height: 18.9rem;
  float: right;

}
.taskify {
  width: 19.8rem;
  height: 5.5rem;

}

.loginText {
  @include text-style-16-light();
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 153px;
  width: 100%;
  gap: 5px;
}

.loginText {
  @include text-style-16-light();
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 153px;
  width: 100%;
  gap: 5px;
}

.login {
  color: $violet-200;
  text-decoration: underline;
}
