.signContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.cb {
  input {
    width: 2rem;
    height: 2rem;
  }

  @include text-style-16-light();
  display: flex;
  align-items: center;
  gap: 8px;
}

.signupBtn {
  Button {
    width: 52rem;
    height: 5rem;
    padding: 1.4rem 23.6rem;
    margin-top: 2rem;
  }
}

.inputs {
  width: 52rem;
  @include mobile {
    width: 31.9rem;
  }
}
