.button {
  border-radius: 4px;
  border: 1px solid $gray-300;
  background: $white;
  width: 8.4rem;
  height: 3.2em;
  color: $violet-200;

  @include text-style-14-middle();
}

.small {
  width: 5.2rem;
  height: 2.8em;
  @include text-style-12-middle();
}
