.wrapper {
  width: 102.2rem;
  min-height: 40rem;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;
  background-color: $white;
}

.title {
  color: $black-200;
  font-size: $font-size-24;
  font-weight: 700;
  line-height: normal;
}

.no-invitation {
  @include column-flexbox();
  @include text-style-18-light();
  width: 100%;
  gap: 2.4rem;
  color: $gray-400;
}
