.modal {
  @include column-flexbox(center, stratch);
  @include text-style-18-middle();
  @include mobile {
    @include text-style-16-middle;
    min-width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  gap: 5rem;
  max-width: 50rem;
  height: 25rem;
  color: $black-200;
  text-align: center;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;

  .buttons {
    @include flexbox(center);
    gap: 1rem;

    button {
      width: 8.2rem;
      height: 3.4rem;
    }
  }
}
