.dashboardBtnContent {
  display: flex;
  align-items: center;
  justify-content: center;
  .colorCircle {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
  }

  span {
    @include text-style-16-bold();
    margin-left: 1.6rem;
    margin-right: 0.8rem;
    color: $black-200;
  }
}
