.modalWrapper {
  @include column-flexbox(center, start);
  padding: 2rem;
  gap: 2.5rem;
  max-width: 35rem;
  height: 22rem;

  h1 {
    @include text-style-20-bold;
  }

  .emailWrapper {
    @include column-flexbox(start, start);
    @include text-style-14-light;
    width: 100%;
    gap: 0.5rem;

    input {
      @include text-style-14-light;
      padding: 1rem;
      max-width: 30rem;
    }
  }
}

.buttons {
  @include flexbox;
  gap: 1rem;
  padding-left: 13.3rem;
  padding-bottom: 2rem;

  button {
    width: 8.4rem;
    height: 3.2rem;
  }
}
