.selectColorWrapper {
  padding: 1.3rem;
  margin: auto;
  gap: 1.5rem;
  @include column-flexbox(center);
}
.selectTheme {
  gap: 1rem;
  @include flexbox(start);
}

.defaultTheme {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  border: 0.1rem solid $gray-200;
}

.selectedTheme {
  background-color: $violet-100;
}
