.wrapper {
  @include flexbox(start, center);
  gap: 1rem;
}

.button {
  width: 8.4rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  color: $violet-200;
  background-color: $white;
  border: 1px solid $gray-300;
  @include flexbox();
  @include text-style-14-middle();
}

.select {
  background-color: $violet-200;
  color: $white;
  border: none;
}
