.list {
  width: 100%;
  color: $black-200;
  @include text-style-14-light();

  li {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-200;
      padding-bottom: 1.6rem;
    }

    &:not(:first-child) {
      padding-top: 1.6rem;
    }
  }

  .row {
    @include flexbox(start, center);
    margin-bottom: 1rem;
  }

  .head {
    display: inline-block;
    color: $gray-400;
    width: 5.3rem;
  }

  .buttons {
    padding-top: 0.6rem;
  }
}
