.wrapper {
  width: 100%;
  min-height: 40rem;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;
  background-color: $white;

  @include mobile {
    padding: 2.4rem 1.6rem;
  }
}

.title {
  color: $black-200;
  font-size: $font-size-24;
  font-weight: 700;
  line-height: normal;
}

.tableArea {
  margin-top: 2rem;
  @include column-flexbox(start, stretch);
  gap: 2.4rem;
}
