.Container {
  position: fixed;
  width: 30rem;
  height: 100vh;
  background-color: $white;
  border-right: 0.1rem solid $gray-300;
  padding-top: 2rem;
  z-index: 2;

  @include tablet {
    width: 16rem;
  }

  @include mobile {
    width: 6.7rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 2.4rem;
}

.logoText {
  @include mobile {
    display: none;
  }
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  margin: 6rem 0 1.8rem 0;

  .menu {
    color: $gray-500;
    @include text-style-14-bold();
    @include mobile {
      display: none;
    }
  }
}

.dashboardListWrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  border-radius: 0.4rem;
  margin: 0.5rem auto;
  padding: 1.2rem;
  color: $gray-500;
  cursor: pointer;
  flex-wrap: wrap;

  &:hover {
    color: $black-200;
    background-color: $violet-100;
  }
}

.selectedDashboard {
  @include tablet {
    color: $black-200;
    background-color: $violet-100;
  }

  @include mobile {
    color: $black-200;
    background-color: $violet-100;
  }
}

.dashboardColor {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 99rem;
  margin-right: 1rem;
}

.dashboardList {
  @include text-style-18-middle();

  @include tablet {
    @include text-style-14-middle();
  }

  @include mobile {
    display: none;
  }
}

.dashboardListMobile {
  display: none;

  @include mobile {
    @include text-style-16-middle();
    display: block;
  }
}

.crown {
  @include tablet {
    width: 1.3rem;
    height: 1rem;
  }

  @include mobile {
    display: none;
  }
}

.pageBtnWrapper {
  @include text-style-14-light();
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  @include mobile {
    right: 1.2rem;
  }
}

.pageText {
  display: none;

  @include desktop() {
    display: inline;
  }
}
