.button {
  border-radius: 0.8rem;
  border: 0.1rem solid $gray-500;
  width: 32rem;
  height: 6.2rem;
  color: $gray-500;
  @include text-style-18-middle();
  @include mobile {
    width: 28.4rem;
  }
}

.small {
  width: 28.4rem;
  height: 5.2rem;
  @include text-style-16-middle();
}
