.gridContainer {
  width: 102.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.dashboardBtnButton {
  button {
    .btnContents {
      margin: 2.6rem 2rem;
      display: flex;
      width: 29.2rem;
      justify-content: space-between;
    }
    .btnContent {
      display: flex;
      align-items: center;
    }
    border-radius: 0.8rem;
    border: 0.1rem solid $gray-300;
    background: $white;
  }
  .colorCircle {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
  }
  span {
    @include text-style-16-bold();
    margin-left: 1.6rem;
    margin-right: 0.8rem;
    color: $black-200;
  }
}
