.addImageOverlay {
  background-color: #f5f5f5;
  position: relative;
  width: 18.2rem;
  height: 18.2rem;
  border-radius: 6%;
  .addImageIcon {
    position: absolute;
    top: 42%;
    right: 42%;
  }
}
.imageContainer {
  .upload {
    object-fit: cover;
    border-radius: 6%;
  }
}
