.addImageOverlay {
  background-color: #f5f5f5;
  border-radius: 0.6rem;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  @include mobile {
    width: 10rem;
    height: 10rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .addImageIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      top: 35%;
      right: 40%;
      width: 20px;
    }
  }

  &.small {
    width: 7.6rem;
    height: 7.6rem;

    .addImageIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .imageContainer {
    .upload {
      width: 7.6rem;
      height: 7.6rem;
    }
  }
}
