.button {
  width: 8.4rem;
  height: 3.2rem;
  padding: 0.7rem 2.9rem;
  border-radius: 0.4rem;
  &.accept {
    background: $violet-200;
  }
  &.deny {
    border-radius: 0.4rem;
    border: 1px solid $gray-300;
    background: $white;
  }
}

.buttonText {
  color: $white;
  @include text-style-14-middle;
  text-align: center;
  &.deny {
    color: $violet-200;
  }
}
