.tableForm {
  width: 62rem;
  height: 40.4rem;
  border-radius: 0.8rem;
  background-color: $white;
  gap: 1rem;
  padding: 2.8rem;
  @include column-flexbox(start, stratch);
}

.dashboardTitle {
  font-size: 2rem;
  font-weight: 700;
  @include flexbox(between, center);
}

.pageNumber {
  font-size: 1.4rem;
  font-weight: 400;
  gap: 1.6rem;
  @include flexbox;
}

.label {
  font-size: 1.6rem;
  font-weight: 400;
  color: $gray-400;
}

.memberListWrapper {
  position: relative;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  @include flexbox(start);
}

.memberProfileImage {
  border-radius: 99px;
}

.memberNickname {
  font-size: 1.6rem;
  font-weight: 500;
}

.crownIcon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.deleteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 8.4rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid $gray-300;
  color: $violet-200;
  font-size: 1.2rem;
}
