$black-400: #000000;
$black-300: #171717;
$black-200: #333236;
$black-100: #4b4b4b;

$gray-500: #787486;
$gray-400: #9fa6b2;
$gray-300: #d9d9d9;
$gray-200: #eeeeee;
$gray-100: #fafafa;

$white: #ffffff;

$violet-200: #5534da;
$violet-100: #f1effd;

$red: #d6173a;

$green: #7ac555;

$purple: #760dde;

$orange: #ffa500;

$blue: #76a6ea;

$pink: #e876ea;
