.modalWrapper {
  @include column-flexbox(start, start);
  @include mobile {
    max-width: 90vw;
  }
  padding: 3.2rem 2.8rem;
  max-width: 50rem;
  height: 80rem;

  h1 {
    @include text-style-24;
  }

  .inputWrapper {
    @include column-flexbox(start, start);
    @include text-style-18-middle;
    width: 100%;
    height: 90%;
    margin: 3.2rem 0 2.8rem;
    gap: 3.2rem;
    overflow-y: scroll;
    scrollbar-width: thin;

    .star {
      color: $violet-200;
    }

    .gap {
      @include column-flexbox(start, start);
      gap: 1rem;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .input {
      @include text-style-16-light;
      @include mobile {
        width: 100%;
      }
      border-radius: 6px;
      border: 1px solid $gray-300;
      padding: 1rem;
      width: 40rem;
    }

    textarea {
      @include mobile {
        width: 100%;
      }
      height: 9.6rem;
      resize: none;
    }

    .errorMessage {
      @include text-style-12-light;
      color: $red;
    }
  }
}
.buttons {
  @include flexbox(end);
  gap: 1.2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;

  button {
    width: 12rem;
    height: 4.8rem;
  }
}
